:host {
  /*display: block;
  border: 3px solid green;*/
}
.goatstone-todo-toolbar{
    padding: 0.5em;
}
h1{
     color: hsla(50, 50%, 50%, 1.0);
}
:host-context(.mat-toolbar) md-toolbar-row {
    display: block;
    background-color: red;
    color: green;
    /*border: 11px solid black;*/
}
md-icon {
    cursor: pointer;
}
