<md-toolbar color="warm" class="goatstone-todo-toolbar">
    <h1>TODO
        <md-icon (click)="incrementCount(e)" class="example-icon">assignment</md-icon>
    </h1>
    <div>
        <button (click)="openDialog(e)" md-mini-fab><md-icon>add</md-icon></button>
        <md-icon (click)="openMenu(e)">menu</md-icon>
    </div>
</md-toolbar>
