<toolbar
        [applicationStream]="applicationControl"
        [count]="clickCount" 
        (change)="countChange($event)">
></toolbar>
<h1>{{title}}</h1>
<p>Parent: {{clickCount}}</p>
<p>Dialog Result: {{result}}</p>
